*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #009DAE,#71DFE7,#C2FFF9,#FFE652); 
 }
.body--inicio{
    margin: 0 10%;
}

.body--inicio--container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.body--inicio--info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body--inicio--info h3{
    font-size: 35pt;
    margin: 5vh 0;
}

.body--inicio--info p{
    text-align: center;
    width: 450px;
    font-size: 25pt;
}

.body--inicio--btnComecar{
    background-color: white;
    margin-top: 5vh;
    height: auto;
    width: auto;
    border-radius: 75px;
    padding: 0 10px;
}

.body--inicio--btnComecar a{
    font-size: 25pt;
    text-decoration: none;
    color: black;
    transition: ease 0.3s;
}

.body--inicio--logo{
    width: 400px;
    height: 400px;
}

.body--inicio--image{
    margin-top: 20%;
}