*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
}

body{
    background: linear-gradient(63.18deg, #472F9F 0%, #0070E4 26.81%, #009FDF 48.59%, rgba(0, 197, 146, 0.72) 68.35%, rgba(78, 224, 0, 0.86) 85.97%);
    background-repeat: no-repeat;
    height: auto;
}

.body--lista--fundo{
    /*position: absolute;
    left: 167px;
    top: 59px;*/
    width: 80%;
    height: auto;
    
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
        
    background: rgba(255, 255, 255, 0.34);
    border-radius: 10px;
}

.body--lista--titulo{
    /* position: absolute;
    left: 354px;
    top: 36px; */

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;

    color: #000000;
}

.body--lista--pesquisa--fundo{
    /* position: absolute;
    left: 78px;
    top: 160px; */
    width: 90%;
    height: 118px;
    /* margin: 0 auto; */
    /* margin-top: 300px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    border-radius: 10px;
}

.body--lista--pesquisa{
    /* position: absolute;
    left: 38px;
    top: 26px; */
    width: 90%;
    height: auto;

    background: #FFFFFF;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.body--lista--barra--pesquisa{
    width: 100%;
    height: 60px;
    font-size: 30px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
}


.body--lista{
    /* position: absolute;
    left: 78px;
    top: 303px; */
    width: 90%;
    height: auto;
    margin: 5vh 0;
    background: #E5E5E5;
}

.body--lista--lupa{
    width: 40px;
    height: 40px;
    background-image: url('../images/Lupa.png');
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 3vw;
    cursor: pointer;
    padding: 0;
}

.body--lista--positionBtnAdd{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.body--lista--btnAdd{
    width: 58px;
    height: 58px;
    padding: 0;
    margin-top: 3vh;
    margin-right: 3vw;
    margin-bottom: 5vh;
    background-image: url('../images/btnAdd.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

